---
subtitle: Introduction
layout: base.njk
jsfile:
eleventyNavigation:
  key: Home
  order: 1
---
    
<div class="col-10 text-start">
    <h2>{{ subtitle }}</h2>
    <p>This week was a quick introduction to <em>Loops</em>
      <em>Arrays</em> and <em>Objects</em> in
      <strong>Javascript</strong></p>
    <p>We were given a number of simple tasks to complete. Each task has its 
        own page, which you can access from the <em>navbar</em>.</p>
</div>